automation/n8n_workflow.json
{
  "name": "Core-Bucket Sync Automation",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "webhook",
        "path": "core-bucket-sync",
        "responseMode": "lastNode",
        "responseData": "allEntries"
      },
      "id": "2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "webhookId": "core-bucket-sync"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 2,
              "unit": "hours"
            }
          ]
        }
      },
      "id": "3",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        250,
        450
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/core/update",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "module",
              "value": "automation_test"
            },
            {
              "name": "data",
              "value": "Scheduled test sync"
            },
            {
              "name": "timestamp",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4",
      "name": "HTTP Request - Core Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        450,
        450
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8000/bucket/status",
        "authentication": "none",
        "options": {}
      },
      "id": "5",
      "name": "HTTP Request - Bucket Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        650,
        450
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/automation/reports/report_{{ $now }}.json",
        "data": "={{ JSON.stringify($input.all()) }}",
        "options": {
          "createDir": true
        }
      },
      "id": "6",
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        850,
        450
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "HTTP Request - Core Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Core Update": {
      "main": [
        [
          {
            "node": "HTTP Request - Bucket Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Bucket Status": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}